OOF Metrics:
          Model  Accuracy  Precision    Recall        F1
0  OOF Ensemble  0.952664   0.936971  0.715689  0.811515
Inference Times:
      Model  Inference Time (ms)
0  LightGBM            64.203501
1   XGBoost            33.229113
2  CatBoost            21.612644